.tile {
  display: inline-flex;
  background-color: #308f30;
  border: 0px;
}

.grass {
  background-image: url('../../img/tree1.png');
  background-size: contain;
}

.road {
  background-image: url('../../img/road1.png');
}

.house {
  background-image: url('../../img/house1.png');
  background-size: contain;
}

.row {
  border: 0px;
  margin: 0px;
  padding: 0px;
}